body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  color: white;
  background: #020024;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 0, 82, 1) 46%,
    rgba(0, 212, 255, 1) 100%
  );
}

.head-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* vertical */
  align-items: center; /* horizontal */
  height: 100vh; /* full viewport height */
  border: 1px solid #000; /* just to visualize */
}

h1 {
  font-size: 4rem;
  margin: 0;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
}

span {
  background: #22c1c3;
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 0.7) 100%
  );
  color: #000;
  font-weight: bolder;
  padding: 5px;
  border-radius: 20px;
}


